.swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 12px;
    height: 12px;
    background: $green;
    opacity: 0.3;
    margin: 0 8px !important;
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}