@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeULightItalic.woff2') format('woff2'),
  url('../fonts/SVN-SegoeULightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeULight.woff2') format('woff2'),
  url('../fonts/SVN-SegoeULight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeUI.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeUIBoldItalic.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUIBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeUIBold.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUIBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI Condensed';
  src: url('../fonts/SVN-SegoeUICondensedBold.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUICondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI Condensed';
  src: url('../fonts/SVN-SegoeUICondensed.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUICondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Segoe UI';
  src: url('../fonts/SVN-SegoeUIItalic.woff2') format('woff2'),
  url('../fonts/SVN-SegoeUIItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

