@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUIBlack-Italic.woff2") format("woff2"), url("../fonts/SegoeUIBlack-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-LightItalic.woff2") format("woff2"), url("../fonts/SegoeUI-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-Semibold.woff2") format("woff2"), url("../fonts/SegoeUI-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-SemiboldItalic.woff2") format("woff2"), url("../fonts/SegoeUI-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI Semilight";
  src: url("../fonts/SegoeUI-SemilightItalic.woff2") format("woff2"), url("../fonts/SegoeUI-SemilightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-Italic.woff2") format("woff2"), url("../fonts/SegoeUI-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUI-BoldItalic.woff2") format("woff2"), url("../fonts/SegoeUI-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI Semilight";
  src: url("../fonts/SegoeUI-Semilight.woff2") format("woff2"), url("../fonts/SegoeUI-Semilight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe_UI";
  src: url("../fonts/SegoeUIBlack.woff2") format("woff2"), url("../fonts/SegoeUIBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.text-gradient {
  background: linear-gradient(86.3deg, #986300 0%, #EBBB6D 68.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
p,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none !important;
}

a {
  text-decoration: none;
  transition: 0.3s all !important;
  line-height: normal;
  color: #000000;
}
a:hover, a:focus {
  color: #0069C6;
  text-decoration: none;
}

button,
input[type=submit] {
  cursor: pointer;
  outline: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF9EB;
  color: #000000;
  font-size: 16px;
  line-height: 1.35;
  font-family: "Segoe_UI";
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
body.active {
  overflow: hidden;
}
body img {
  transition: 0.34s all !important;
  max-width: 100%;
  display: inline !important;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
}
body h2 {
  font-size: 46px;
}
@media (max-width: 1280px) {
  body h2 {
    font-size: 40px;
  }
}
body h3 {
  font-size: 28px;
}
@media (max-width: 1280px) {
  body h3 {
    font-size: 26px;
  }
}
body h4 {
  font-size: 24px;
}
@media (max-width: 1280px) {
  body h4 {
    font-size: 22px;
  }
}
body h5 {
  font-size: 20px;
}
@media (max-width: 1280px) {
  body h5 {
    font-size: 18px;
  }
}

.container {
  max-width: 1456px !important;
  margin: 0 auto;
  padding: 0 80px;
}
@media (max-width: 1416px) {
  .container {
    max-width: 100% !important;
    padding: 0 60px;
  }
}
@media (max-width: 1280px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 24px;
  }
}

/*======================================== end config =================================*/
.playfair {
  font-family: "Playfair Display", serif;
}

.padd-main {
  padding: 120px 0;
}
@media (max-width: 1416px) {
  .padd-main {
    padding: 80px 0;
  }
}
@media (max-width: 1280px) {
  .padd-main {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .padd-main {
    padding: 40px 0;
  }
}

.btn-main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 32px;
  height: 54px;
  border-radius: 54px;
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 1280px) {
  .btn-main {
    font-size: 16px;
    height: 48px;
  }
}
@media (max-width: 767px) {
  .btn-main {
    font-size: 14px;
    height: 40px;
    padding: 0 20px;
  }
}
.btn-main svg {
  transition: 0.3s all !important;
  position: relative;
  right: 0;
}
@media (max-width: 1280px) {
  .btn-main svg {
    transform: scale(0.85);
  }
}
.btn-main:hover svg path {
  stroke: #fff;
}

.title {
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .title {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 24px;
  }
}
.title h2 {
  font-size: 46px;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1416px) {
  .title h2 {
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .title h2 {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .title h2 {
    font-size: 20px;
  }
}

@keyframes rotateInfinite {
  to {
    transform: rotate(360deg);
  }
}
.rotate-infinite {
  animation: rotateInfinite 20s linear infinite;
  transform-origin: center;
}

.h-menu ul {
  display: flex;
  align-items: center;
  gap: 36px;
}
.h-menu a {
  color: #fff;
}

@media (max-width: 767px) {
  .clc-play-video svg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .clc-play-video span {
    font-size: 12px;
  }
}

.item-solution {
  transition: 0.4s all !important;
}
.item-solution .avarta:after {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border-radius: 153px;
  border: 1px solid #008750;
  position: absolute;
  top: -10px;
  left: -10px;
  transition: 0.4s all !important;
  transform: scale(0.8);
}
.item-solution .avarta:before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: 0.4s all !important;
  background: rgba(0, 135, 80, 0.3019607843);
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 153px;
  transform: scale(1.2);
  opacity: 0;
}
.item-solution .avarta img {
  position: relative;
  z-index: 2;
  border-radius: 153px;
}
.item-solution:hover .avarta:after {
  transform: scale(1);
}
.item-solution:hover .avarta:before {
  opacity: 1;
  transform: scale(1);
}
.item-solution:hover h4 {
  color: #008750;
}

.box-principle {
  background: url("../images/bg-principle.png") no-repeat center;
  background-size: cover;
}

.obstacles-grid {
  display: flex;
  gap: 24px;
}

.item-obstacle {
  transition: 0.4s all !important;
  flex: 0 0 274px;
  max-width: 274px;
}
.item-obstacle.active {
  flex: 0 0 calc(100% - 596px);
  max-width: calc(100% - 596px);
}

.block-faq .item-faq {
  border-bottom: 1px dashed rgba(232, 196, 116, 0.5019607843);
}
.block-faq .item-faq.active {
  border-bottom: 1px solid #008750;
}
.block-faq .item-faq.active .head-faq {
  color: #008750;
}
.block-faq .item-faq.active .head-faq svg {
  transform: rotate(45deg);
}
.block-faq .item-faq.active .head-faq svg path {
  stroke: #008750;
}
.block-faq .item-faq .head-faq svg {
  transition: 0.4s all !important;
}
.block-faq p {
  margin-bottom: 12px;
}
.block-faq p:last-child {
  margin-bottom: 0;
}

.banner-bottom-page:after {
  content: "";
  width: 100%;
  height: calc(100% - 25px);
  background: #FFF5DF;
  border-radius: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 1023px) {
  .banner-bottom-page:after {
    height: 100%;
  }
}
@media (max-width: 767px) {
  .banner-bottom-page:after {
    border-radius: 16px;
  }
}
@media (max-width: 767px) {
  .banner-bottom-page .btn-main {
    width: 100%;
  }
}

.content-single h2, .content-single h3, .content-single h4, .content-single h5, .content-single h6 {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .content-single h2, .content-single h3, .content-single h4, .content-single h5, .content-single h6 {
    margin-bottom: 16px;
  }
}
.content-single p {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .content-single p {
    margin-bottom: 16px;
  }
}
.content-single p:last-child {
  margin-bottom: 0;
}

.form-contact .item-field {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .form-contact .item-field {
    margin-bottom: 20px;
  }
  .form-contact .item-field svg {
    width: 20px;
    height: 20px;
  }
}
.form-contact .item-field:last-child {
  margin-bottom: 0;
}
.form-contact .item-field .txt_field {
  background: transparent;
  height: 50px;
  border: 1px solid #986300;
}
@media (max-width: 767px) {
  .form-contact .item-field .txt_field {
    height: 40px;
  }
}
.form-contact .item-field textarea {
  background: transparent;
  height: 87px;
  border: 1px solid #986300;
}
.form-contact .item-field .btn_field {
  height: 54px;
  padding: 0 62px 0 32px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .form-contact .item-field .btn_field {
    height: 40px;
    font-size: 14px;
    padding: 0 48px 0 32px 0;
  }
}
.form-contact .item-field .max-content {
  width: max-content;
}

.swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination span {
  width: 12px;
  height: 12px;
  background: #008750;
  opacity: 0.3;
  margin: 0 8px !important;
}
.swiper-pagination span.swiper-pagination-bullet-active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
